# Dependencies
node_modules/
dist/
build/

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Testing
coverage/

# Vite
temp/